body{
    text-align: center;
    align-items: center;
    background-color: #383163;
}
.title{
    color: white;
}
.calculator{
    margin: 0 auto;
    max-width: 400px;
    padding: 40px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    border-radius: 10px;
}
.notas{
    color: white;
    padding-top: 1%;
    height: 300px;
    width: 250px;
    margin: 3px;
    background-color: #383163;
    border-radius: 10px;
    list-style: none;
}
